.header{
  width: 100%;
  height: 100px !important;
  line-height: 80px;
}

.logo{
text-align: center;
margin-top: -10px;
}
.logo img{
  width: calc(100% - 60%);
  object-fit: contain;
  
}
.logo h5{
  font-weight: 600;
  font-size: 1rem;
  color: #212245;
  margin-top: -10px;
  margin-bottom: 0;
}
.menu a{
  font-weight: 600;
  font-size: 1rem;
  color: #212245;
  transition: 0.3s;
}
.menu a:hover{
  color: #df2020;
}
.active__menu{
  color: #df2020 !important;
}

.cart__icon i,
.user i,
.mobile__menu i{
  font-size: 1.3rem;
  color: #212245;
  cursor: pointer;
}
.cart__icon{
  position: relative;
}
.cart__badge{
  position: absolute;
  right: -5px;
 top: 20px;
 color: #fff;
 background: #df2020;
 height: 15px;
 width: 15px;
 border-radius: 50%;
 display: flex;
 align-items: center;
 justify-content: center;
 font-weight: 500;
 font-size: 0.7rem;
 
 
}
.mobile__menu{
  font-weight: 600;
  display: none;
}
.header__shrink{
  position: sta;
  top: 0;
  left: 0;
  box-shadow: 5px 5px 15px -5px #fde4e4;
}


.sticky__header{
  width: 100%;
  height: 90px !important;
  line-height: 80px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 3px 3px 8px -3px;
  background: #fde4e4;
}
@media only screen and (max-width:992px){
  .header{
    height: 70px !important;
  }
  .logo{
    margin-top: -30px;

  }
  .logo img{
    width: calc(100% - 80%);
   
  }
  .logo h5{
    font-size: 0.8rem;
    margin-top: -20px;
  }
  .navigation{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0, 0,0, 0.5334);
    z-index: 99;
    display: none;
  }
  .menu{
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    line-height: 20px;
    
  }
  .menu a{
    font-size: 0.8rem;
  }
  .mobile__menu{
    display: block;
  }

  .cart__icon i,
.user i,
.mobile__menu i{
  font-size: 1rem;
}
.show__menu{
  display: block;
}

}

@media only screen and (max-width:px){
  .header{
    width: 100%;
    height: 50px;
    line-height: 50px;
  }
  .logo h5{
    margin-top: -2px;
  }
  .cart__badge{
    top: 5px;
  }
} 

.register{
  position: absolute;
  right: 10%;
  background: transparent !important;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 20%;
  align-items: center;
  justify-content: center;
  line-height: 40px;
  border-radius: 0 0 5px 5px;
  margin-top: 30px;
  opacity:0
}
.login, .signup{
  background: #212245;
  color: #fff;
  padding: 0px 15px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.signup{
  background: #df2020;
}

.toggle__register{
  opacity: 1;
}
.scroll{
  margin-top: 20px;
}


